<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <header>
      <h1>Hello, {{ user.username }}!</h1>
    </header>

    <div class="container">
      <div class="main-content">
        <div class="links">
          <a href="{% url 'catalog:books_list' %}">Books list</a>
          <a href="{% url 'logout' %}">Logout</a>
        </div>
      </div>
    </div>
  </body>
</html>
